{%- comment -%}
	Creates a breadcrumb from the page's URL
{%- endcomment -%}

<nav class="breadcrumb">
	<ol class="breadcrumb">
		{%- assign parts = page.url | split: "/" -%}
		<li class="breadcrumb-item"><a href="{{ site.baseurl | default: "/" }}">Home</a></li>
		{%- for part in parts offset: 1 -%}
			{%- if forloop.last -%}
				<li class="breadcrumb-item active">{{ page.title }}</li>
			{%- else -%}
				{%- assign text =  part | replace:'-', ' ' | capitalize -%}
				{%- assign limit = forloop.index | plus: 1 -%}
				{%- capture href -%}{%- for part in parts limit: limit -%}{{ part | append: '/' }}{%- endfor -%}{%- endcapture	-%}
				<li class="breadcrumb-item">
					<a href="{{ href | relative_url }}">{{ text }}</a>
				</li>
			{%- endif -%}
		{%- endfor -%}		
	</ol>
</nav>
