<nav class="navbar navbar-dark bg-dark">
    <footer class="site-footer container">
    	<div class="row">
            <div class="col">
                <img src="{{ "/img/logo-white.png" | absolute_url }}" alt="" class="footer-logo">
            </div>
            <div class="col">
                <h3 class="text-white">About</h3>
                <div class="dropdown-divider"></div>
                <ul class="navbar-nav flex-column">
                {% for item in site.data.navigation.footer %}
                    <li class="nav-item active"><a class="nav-link" href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h3 class="text-white">Projects</h3>
                <div class="dropdown-divider"></div>
                <ul class="navbar-nav flex-column">
                {% for project in site.projects limit:5 %}
                    <li class="nav-item active"><a class="nav-link" href="{{ project.url | absolute_url }}">{{ project.title }}</a></li>
                {% endfor %}
                {% if site.projects | size > 5 %}
                    <li class="nav-item active"><a class="nav-link" href="{{ "/projects/" | absolute_url }}">See all projects</a></li>
                {% endif %}
                </ul>
            </div>
            <div class="col">
                <h3 class="text-white">Contact</h3>
                <div class="dropdown-divider"></div>
                {% include address.html %}
            </div>
    	</div>
    	<div class="copyright text-muted">
            <p>
                &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved<br>
    		</p>
    	</div>
    </footer>
</nav>
<!-- Javascript -->
</body>
</html>