{% if page.banner_image and page.banner_image != "" %}
	<div id="banner" style="height: 200px;">
		<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ page.banner_image | absolute_url }}');">
			<div class="hero-text">
				<header class="call-to-action pt-5">
					<h1 class="d-none d-md-block my-3">{{ page.heading | default: page.title }}</h1>
					<h3 class="d-none d-sm-block d-md-none my-3">{{ page.heading | default: page.title }}</h3>
					{% if page.sub_heading and page.sub_heading != "" %}
						<h3 class="d-none d-md-block">{{ page.sub_heading }}</h3>
						<h5 class="d-none d-sm-block d-md-none">{{ page.sub_heading }}</h5>
					{% endif %}
					{% if page.hero_button %}
					<div>
						<a href="{{ page.hero_button.href | absolute_url }}" class="btn btn-primary" title="{{ page.hero_button.text }}">
							{{ page.hero_button.text }}&nbsp; > 
						</a>
					</div>
					{% endif %}
				</header>
			</div>
		</div>

		<div class="row pt-5">
			<div class="col-6 offset-3">
			</div>
			<div class="col"></div>
		</div>
	</div>
	{% if page.textline %}
	<section class="main-message">
		<div class="text-center">
			<div class="">
				<div class="pt-5 pb-5">
					<h1>{{ page.textline }}</h1>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
{% else %}
	<header class="plain-header">
		<div class="text-center">
			<div class="">
				<div class="pt-5">
				{% if page.collection == 'people' and page.thumbnail and page.thumbnail != "" %}
					<div class="profile-photo">
						<img src="{{ page.thumbnail | absolute_url }}" alt="{{ page.title }}">
					</div>
				{% endif %}
					<h2>{{ page.title }}</h2>
					{% if page.sub_heading and page.sub_heading != "" %}
					<h3>{{ page.sub_heading }}</h3>
				{% endif %}
				</div>
			</div>
		</div>
	</header>
{% endif %}
