{% comment %}
    Displays a twitter feed for the twitter user in _data/information.yml
    as well as the latest 2 documents from the _posts/ collection
{% endcomment %}
<style>
  .card {border:none; height: 100%;}
  .align-to-bottom {position: absolute; bottom: 0;}
</style>
{% if page.show_news %}
<section class="news-twitter container">
    {% if page.twitter and pager.twitter != '' %}
    <h2>Twitter</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a class="twitter-timeline" data-height="300" data-dnt="true" data-tweet-limit="1" data-dnt="true" data-chrome="noheader nofooter noborders transparent noscrollbar" href="https://twitter.com/{{ site.data.information.twitter}}"></a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    {% endif %}
    <h2>Most Recent Auctions</h2>

    <div class="row justify-content-center">
    {% for post in site.posts limit:4 %}
      <div class="col-12 col-md-4 col-lg-3 border ">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h4>        
          {% assign banner_image = '/img/auction-placeholder.jpg' %}
          {% if post.banner_image and post.banner_image != ''  %}
            {% assign banner_image = post.banner_image %}
          {% endif %}

            <div class="card-img-top d-flex align-items-center justify-content-center" style="height:280px; background-color: #e9ecef;">
                <a href="{{ post.url | relative_url }}"><img class="img-fluid img-thumbnail border-0 w-100" style="padding:0;" alt="{{ post.title }}" src="{{ banner_image | relative_url }}"></a>
            </div>
            <p class="card-text">
                {{ post.content | split:'<!--header-->' | first }}
                {% if post.content contains '<!--header-->' %}
                    <div class="align-to-bottom"><a class="btn btn-success mb-2" href="{{ post.url | relative_url }}">Read more</a></div>
                {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>    
    <a href="{{ "/auctions/" | relative_url }}" class="button-outline pure-button">All auction listings <i class="fa fa-chevron-right"></i></a>
</section>

{% endif %}
