{% comment %}
    Displays a list of partner logos from a document's front matter
{% endcomment %}

{% if page.partners %}
<section class="partners container pt-5 pb-5">
    <div class="">
        <h2>Funding Partners</h2>
        <div class="row">
            {% for logo in page.partners %}
                <div class="col">
                    <img src="{{ logo | absolute_url }}" alt="{{ logo }}" style="width:7rem;"/>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}