---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}

{% assign stripped_content = content | strip_newlines %}
{% if content and stripped_content != "" %}
<section class="about">
	<div class="container">
		{{ content }}
	</div>
</section>
{% endif %}
<a href="posts.html"> <class=btn btn-primary>

	<button>View Auctions</button></a>


{% include services.html %}

{% include news.html %}

{% include partners.html %}

{% include staff.html %}