---
layout: default
---
{% comment %}
	This layout is used to by posts.md to display all of documents in
	the _posts/ collection
{% endcomment %}

{% include breadcrumbs.html %}

<div class="container">
  <div class="row">
  {% for post in site.posts %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
              <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
          </h4>
          <date>{{ post.date | date_to_string }}</date>
        {% if post.banner_image and post.banner_image != ''  %}
          <div class="card-img-top">
              <a href="{{ post.url | absolute_url }}"><img class="img-fluid img-thumbnail" alt="{{ post.title }}" src="{{ post.banner_image | absolute_url }}"></a>
          </div>
          {% endif %}
          <p class="card-text">
              {{ post.content | split:'<!--break-->' | first }}
              {% if post.content contains '<!--break-->' %}
                  <a href="{{ post.url | absolute_url }}">Read more</a>
              {% endif %}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
