---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

{% include breadcrumbs.html %}

<div class="container">
  <div class="meta">
    {% if page.date %}
    <div class="post-date">{{ page.date | date_to_string }}</div>
    {% endif %}
    {% if page.tags.size > 0 %}
    <span class="meta-separator">&bull;</span>
    <ul class="tags-list">
      <li class="inline tag_list_item">
  			Tags:
  		</li>
  		{% for tag in page.tags %}
      <li class="inline tag_list_item">
        {{ tag }}
        {% if forloop.last == true %}{% else %}
          <span>,</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  {{ content }}

  {% if page.related_posts.size > 0 %}
  	<hr>
    <h2> Related Posts </h2>
    <div class="">
      <div class="row">
      {% for item in page.related_posts %}
        {% assign posts = site.posts | where:"path", item %}
          {% for post in posts %}
          <div class="col-4">
            <div class="card">
              <div class="card-header">
                {% assign banner_image = '/img/auction-placeholder.jpg' %}
                {% if post.banner_image and post.banner_image != ''  %}
                  {% assign banner_image = post.banner_image %}
                {% endif %}
                <img src="{{ banner_image | relative_url }}" alt="{{ post.title }}">
              </div>
              <div class="card-body">
                <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                <p>{{ post.sub_heading | slice: 0, 80 }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
      {% endfor %}
      </div>
  </div>
  {% endif %}
  <div class="row">
  {% for image in site.static_files %}
      {% if image.path contains page.image_folder %}
        <div class="col-6 col-md-3">
          <a target="_blank" href="{{ site.baseurl }}{{ image.path }}"><img class="img-fluid img-thumbnail" src="{{ site.baseurl }}{{ image.path }}" alt="image" /></a>
        </div>
      {% endif %}
  {% endfor %}
  </div>
</div>
